<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="./style.css">
  <style>
    h2 {
      color: darkgoldenrod;
    }

    /* h2 {
      color: green;
      background-color: pink;
    }

    #h3-tren {
      color: red;
    }

    #h3-duoi {
      color: green;
    }

    .mau-xanh-la-cay {
      color: green;
    } */
  </style>
</head>

<body>
  <h1 style="color:red;background-color:orange;">NamCoi.com</h1>
  <h2 class="mau-xanh-la-cay">NamCoi.com</h2>
  <h2 class="mau-xanh-la-cay">Hello World</h2>
  <h3 id="h3-tren">NamCoi.Com</h3>
  <h3 id="h3-duoi" class="mau-xanh-la-cay">Xin chao PHP 21</h3>
</body>

</html>