header,
footer {
  background-color: darkgrey;
  height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1,
h3 {
  color: white;
}

section {
  display: flex;
  flex-direction: row;
}

#section-left {
  width: 30%;
  background-color: grey;
  height: 300px;
}

li {
  list-style-type: none;
}

#section-right {
  width: 70%;
}